html, body {
	margin:0;
	padding:0;
	width: auto !important;
	overflow-x: hidden !important;
}

body {
	font-family: "Helvetica Neue", Helvetica, "Arial", sans-serif;
	width:100%;
}

::selection {
	background: #800000;
	color:#fffaf0;
}

::-moz-selection {
	background: #800000;
	color:#fffaf0;
}

a:link {
	color: #800000;
}

a:visited {
	color: #bf7f7f;
}

.heading {
	color: #fffaf0;
	padding: 100px 10px;
	text-align: center;
	background-image: url("http://i.imgur.com/BwNJSre.png");
	background-size:cover;
	 text-shadow: 0px 2px 3px #555; 
}

.robotHeading {
	color: #fffaf0;
	padding: 100px 10px;
	text-align: center;
	background-image: url("http://i.imgur.com/nkzOMPI.jpg");
	background-size:cover;
	text-shadow: 0px 2px 3px #555;
}


.outreachHeading {
	color: #fffaf0;
	padding: 100px 10px;
	text-align: center;
	background-image: url("http://i.imgur.com/wGYoZXc.jpg");
	background-size:cover;
	text-shadow: 0px 2px 3px #555;
}

.lead {
	color:#fffaf0;
}

footer {
	text-align: center;
}

#roboImage {
	width:100px;
	text-align:center;
	width:100%;
	margin:10px;
	margin-top:20px;
	box-shadow: 5px 5px 2px grey;
}

ul.social-buttons li a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	outline: 0;
	color: #fff;
	background-color: #222;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
	background-color: #800000;
}

.jumbotron {
	height: 300px;
	margin-top: 30px;
}

.middlePanels {
	margin-left: 30px;
	margin-right: 30px;
}

.middlePanels .panel {
	height: 180px;
}

#robotBeginning {
	margin-bottom: 50px;
}